{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Veteran's Alliance Partners is a one-stop shop for resources"
  />
  <meta name="keywords" content="veterans, resources, one stop shop" />
  <title>Veteran's Alliance Partners -- {{ page_title }}</title>
  <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />

  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
</head>
<body class="font-THICCCBOI text-[0.85rem]">
<div class="grow shrink-0">
  {% include "header.html" %}
  {% block maincontent %} {% endblock maincontent %}
</div>
 {% include "footer.html" %}   
</body>
</html>